<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/stylesheets/style.css'/>
</head>
<body>
    <div class="main">
        <h1>
            <%= title %>
        </h1>
        <br>
        <h3>
            <%= welcome_message %>
        </h3>
        <br>
        <h4>
            Example URL to test the API : <a href="/api/repository/trending-lang?date=2020-04-23" target="_blank">Test API</a>
        </h4>
        <small><u>PS :</u> don't forget to specify the date in the given format <strong class="format">yyyy-mm-dd</strong></small>
    </div>
</body>
</html>
